:root {
    --primary-lime: #ecfccb;
    --green-dark: #14532d;
}

body {
    background-color: var(--primary-lime);
    color: var(--green-dark);
    margin: 0%;
    padding: 0%;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

h3,
h4 {
    font-family: sans-serif;
    text-align: center;
}

p {
    font-family: sans-serif;
    font-weight: bold;
}

.container {
    text-align: center;
    font-size: medium;
    width:30%;
    box-sizing: content-box;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: medium;
}

#output-box {
    display: block;
    width:100%;
    padding-top: 3rem;
    font-family: sans-serif;
    font-weight: bold;
}

.container2 { 
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: medium;}

hr {
    background-color: rgb(14, 95, 28);
    margin: 0rem;
    width: 100%;
    height: 1.5px;
}

.navo{
    position:absolute;
    left:67%;
    top:26.5%;
}

label {
    display: block;
    text-align: center;
    margin:auto ;
    font-family: sans-serif;
    padding-top: 1rem;
    font-size: large;
    font-weight: bold;
}

input {
    width: 100%;
    display: block;
    border-color:  #14532d ;
    padding: 0.5rem;
    font-family: sans-serif;
    margin-bottom: 0.5rem;
    border-radius: 2rem;
    margin: auto;

}

#check-number {
    margin-top: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.7rem;
    color: #14532d;
    font-weight: bold;
    text-align: center;
    border-width: medium;
}

#check-number:hover {
    background-color: var(--green-dark);
    color: var(--primary-lime);
}